<!DOCTYPE html>
<html lang="en">
  <head>
      <script src="/vendor/es6-shim.js"></script>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= title %></title>
      <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
      <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <tweet-box>
      <img class="loading" src="images/loading.svg" width="94px">
    </tweet-box>
    <script>
      System.paths = {
          'angular2/*':'/vendor/angular2/*.js',
          'rx/*': '/vendor/rx.all.js',
          'rtts_assert/*': '/vendor/rtts_assert/*.js',
          'components/*': 'components/*.js',
          'tweetbox': 'components/tweetbox/index.es6'
      };
      System.import('tweetbox');
    </script>
  </body>
</html>
